<div class="pane question-container" data-question-id="<%= average.number %>">
  <p><%= average.question %></p>
  <div class="options-container">
    <p class="response-average"><%= average.average %></p>
    <button type="button" data-offset="<%= average.number %>">Next</button>
  </div>
</div>
