<div class="questionnaire-container">
  <h1 class="questionnaire-title"><%= @questionnaire.title %></h1>
  <h2 class="questionnaire-subtitle"><%= @questionnaire.subtitle %></h2>

  <div class="questions-container">
    <%= render @responses %>
  </div>
</div>
